@import './styles/settings.scss';

.switch-wrapper {
  position: relative;

  > :first-child ~ * {
    position: absolute;
    animation-name: slide-in;
    animation-duration: $duration;
  }
}

@keyframes slide-in {
  from { top: 200px }
  to { top: 0 }
}
